# Application Files
.env            
# =====================================
# General OS Files
# =====================================
.DS_Store       
# =====================================
# Logs and Debugging Files
*.log           
# =====================================
