# =====================================
# Application Files
# =====================================
.env            # Environment variables
# =====================================
# General OS Files
# =====================================
.DS_Store       # macOS Finder metadata
# =====================================
# Logs and Debugging Files
*.log           # Application logs
# =====================================
